header, nav, main, section{display:block;}

body {
	font: 100%/1.4 "trebuchet ms", arial, sans-serif;
}
#hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index:-1;
}
.btn {
	display: inline-block;
	width:200px;
	font-weight: bold;
	padding:10px;
	color:#fff;
	border: 4px solid #fff;
	text-align:center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
	padding-left:5px;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
/*
#NavFa {
color:black;
}*/
.Gallery {
	padding:10px;
	overflow:hidden;
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
}
.Gallery .img{
	display:inline-block;
	width:100%;
	max-width:340px;
	height:220px;
	overflow:hidden;
	margin:10px;
	cursor:pointer;
}
.img img{
	width:100%;
	height:220px;
	transition:0.4s;
}
.img img:hover {
	transform:scale(1.2);
}
#wrap{
	width: 85%;
	max-width: 960px;
	margin:0 auto;
	overflow:auto;
}
header {
  background-attachment: fixed;
	background-image: url("Bicycle.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	text-align:bottom;
	font-size:2em;
	padding-bottom:55%;
	background-position-y:50px;
	position:relative;
}
.Content
{
position:absolute;
width:80%;
color:white;
height:auto;
margin-top:20%;
margin-left:12%;
}
.Content h1{
color:white;
font-size:2em;
padding-bottom:0;
margin-bottom: 0;
}
header p {
font-style: italic;
padding-left:5px;
margin-top:0;
font-size:1.2em;
color:white;
margin-bottom:8px;
}
header h1{
	fontsize:3em;
	color:white;

}
#info{
background-color:#2980b9;
color:white;
margin:0;
padding:4%;
text-shadow: 1px 1px 2px #333;
font-size:1.5em;
z-index:3;
}
#info_work{
background-color:#3b7d9b;
color:white;
margin:0;
padding:4%;
text-shadow: 1px 1px 2px #333;
font-size:1.5em;
padding-top:100px;
}
#info h1,h2{
	color:white;
	margin:0;
	font-family:Helvetica;
}
#info_work h1,h2{
	color:white;
	margin:0;
	font-family:Helvetica;
}
#miro4{
background-attachment: fixed;
background-image:url("Tree.jpg");
background-repeat: no-repeat;
background-position: center;
background-size:100%;
padding:10%;
z-index: -1;
}
#miro{
    background-attachment: fixed;
background-image:url("Jeejee.jpg");
background-repeat: no-repeat;
background-position: center;
background-size:150%;
padding:10%;
z-index: -1;

}
#miro_2{
    background-attachment: fixed;
background-image:url("Bodycombat_large.jpg");
background-repeat: no-repeat;
background-position: center;
background-size:100%;
padding:10%;
}
#miro_2_black{
    background-attachment: fixed;
background-image:url("Bodycombat_largeb.jpg");
background-repeat: no-repeat;
background-position: center;
background-size:cover;
padding:10%;
}
#miro_3{
background-attachment: fixed;
background-image:url("Chicago.jpg");
background-repeat: no-repeat;
background-position: center;
background-size:cover;
padding:10%;
}
h1,h2 {
	font-family:Impact, arial;
	color:#666;
	font-weight:normal;
}
section {
	float: left;
	width: 45%;
	margin: 1%;
	padding: 1%;
	border: 2px solid #666;
	border-radius: 10px;
	text-align:left;
}
section img {
	float: left;
	margin-right: 2%;
}

aside {
	float: left;
	width: 45%;
	margin: 1%;
	padding: 1%;
	border: 2px solid #666;
	border-radius: 10px;
	text-align:left;
}
/*#Music section#combat{
	width: 95%;
	height: 500px;
}*/
#video_box iframe {
	float: left;
	width: 95%;
	height: 92%;
	margin: 1%;
	padding: 1%;
	text-align:center;
}
aside img{
	float: left;
	margin-right: 2%;
}

nav {
	position: fixed;
	top: 0;
	/*left: 0;*/
	width: 100%;
	color:#666;
	background-color:white;
	text-align:none;
	z-index:50;
	line-height:50px;
}
nav ul.left {
	float:left;
	margin-left:-30px;
}
nav ul.right{
	float:right;
	list-style-type:none;
	width:50%;
	text-align:right;
	}
nav li{
	display:inline;
	}
nav a{
	color:#666;
	font: 150% impact, arial, sans-serif;
	text-decoration: none;
	padding-left:5%;
	transition:0.4s;
	}
.show-menu-btn,.hide-menu-btn{
	transition:0.4s;
	color:#666;
	font-size:30px;
	cursor:pointer;
	display: none;
}
.show-menu-btn{
	float:right;
	line-height: 50px;
	padding-top: 19px;
	padding-right: 30px;
}
.show-menu-btn i{
	line height:50px;
	font-size:1.25em;
}
nav a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
	color:#3498db;
}
#chk{
	position:absolute;
	visibility:hidden;
	z-index: -1111;
}
footer{
	background-color:#e67e22;
	font-family:impact;
	padding: 2px 0;
	height:400px;
}
footer ul{
	list-style-type:none;
	}
footer li{
	display:inline;
	padding-right: 2%;
	}
footer a{
	color:#fff;
	font: 180% impact, arial, sans-serif;
	text-decoration: none;
	}
footer h1{
	color:white;
}
footer aside{
	width:95%;
	text-align:center;
	border:none;
	margin-top:70px;
	display:inline;
}
footer aside a{
		position: relative;
		color: #ecf0f1;
		font-size:1em;
    line-height: 1em;
    transition: 1s;
    display: inline-block;
    margin-left: 12%;
		margin-right: 12%;
}
footer aside a i{
		color: #ecf0f1;
}
footer aside a:hover{
		color:white;
		text-shadow: 4px 4px 30px rgba(0,0,0,0.8);
}
footer aside h1{
	color:white;
}
footer i {
	color:white;
	font-size:4em !important;
	width:19%;
}
#text{

}
#about_me{
background-color:White;
text-align:center;
padding:50px;
z-index:3;
color:#34495e
}
#about_me h1,h2,h3 {
	color:#34495e;
}
#Music{
	overflow:auto;
	color:white;
	padding:1%;
	background-color:rgba(43,42,43,0.6) !important;
	border-radius:20px;
	border: 20px rgba(43,42,43,0.3);
	font-size:1.3em;
}
#video_box{
	height:750px;
	overflow:hidden;
	color:white;
	padding:1%;
	background-color:rgba(43,42,43,0.6) !important;
	border-radius:20px;
	border: 20px rgba(43,42,43,0.3);
	font-size:1.3em;
}
#Music aside {
	float: left;
	width: 49%;
	margin: 1%;
	padding: 1%;
	border: none;
	text-align:left;
}
#Music aside h1{
	color:white;
}
#Work{
overflow:auto;
	color:white;
	padding:1%;
	background-color:rgba(43,42,43,0.6);
	border-radius:20px;
	border: 20px rgba(43,42,43,0.3);
	font-size:1.3em;
}
/*
#Work aside {
	overflow:auto;
	float: left;
	width: 98%;
	margin: 1% 0 1% 0;
	padding: 1%;
	border: none;
	border-bottom: 1px solid grey;
	border-radius:0;
}*/
#Work a{
	text-decoration: none;
	color: white;
	margin: auto;
	background-repeat: bo-repeat;
	background-position: top center;
	background-size: contain;
	overflow: auto;
	background-size: contain;
	display:block;
	background-color: transparent;
}
#listitem {
	color:Black;
	width: 100%;
	height:250px;
    position: relative;
	border: none;
	border-bottom: 1px solid grey;
	border-radius:0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
	display:block;
	background-size:cover;
	transition: .5s ease all;
	z-index:3;
}
.driverlog{
	width:0;
	height:250px;
	background-image:linear-gradient( rgba(0,0,0, 0), rgba(0, 0, 0, 0) ), url("Driverlog.png");
	position:absolute;
	top:0;
	display:flex;
	justify-content: center;
	aligin-items:center;
	overflow:hidden;
		transition: .5s ease all;
		z-index:5;
}
.bodycombat{
	width:0;
	height:250px;
	background-image:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("Bodycombat.jpg");
	position:absolute;
	top:0;
	display:flex;
	justify-content: center;
	aligin-items:center;
	overflow:hidden;
		transition: .5s ease all;
		z-index:5;
}
.puuvari{
	width:0;
	height:250px;
	background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("Puuvari.jpg");
	position:absolute;
	top:0;
	display:flex;
	justify-content: center;
	aligin-items:center;
	overflow:hidden;
	transition: .5s ease all;
	z-index:5;
}
.mallinnus{
	width:0;
	height:250px;
	background-image:linear-gradient( rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001) ), url("mallinnus.jpg");
	position:absolute;
	top:0;
	display:flex;
	justify-content: center;
	aligin-items:center;
	overflow:hidden;
		transition: .5s ease all;
		z-index:5;
}
.cyborg{
	width:0;
	height:250px;
	background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("");
	position:absolute;
	top:0;
	display:flex;
	justify-content: center;
	aligin-items:center;
	overflow:hidden;
		transition: .5s ease all;
		z-index:5;
}
#listitem:hover .puuvari{
	color:white;
	width:100%;
	overflow: hidden;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
	}
#listitem:hover .bodycombat{
	color:white;
	width:100%;
	overflow: hidden;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
	}
#listitem:hover .driverlog{
	color:white;
	width:100%;
	overflow: hidden;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
	}
#listitem:hover .mallinnus{
	color:white;
	width:100%;
	overflow: hidden;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
	}
#listitem:hover .cyborg{
	color:white;
	width:100%;
	overflow: hidden;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
	}
/*#listitemMO{
	background: 	linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),url("driverlog.png");
	width:100%;
	background-position: center;
    height: 230px;
    position: relative;
    z-index: 1;
	border: none;
	border-bottom: 1px solid grey;
	border-radius:0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: inline-block;
	}*/
#listitem h1 {
	color:inherit;
	padding-left: 2vw;
    margin-left: 0;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    padding-top: 9px;
	z-index:10;
	position:absolute;
}
#listitem p{
	font-size: 15px;
    padding-left: 2vw;
    margin-bottom: 0px;
    padding-top: 9px;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
	z-index:10;
	position:absolute;
	top: 40%;

	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#listitem .fa {
	font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
	right: -2vw;
    top: 30%;
	z-index:10;
	color:inherit;
}
a{
	text-decoration: none;
}
#Work #list-item h1{
	color:black;
}
#about_me p{
	font-size:1.3em;
}
#info_music{
    background-color: #3b7d9b;
    color: white;
    margin: 0;
    padding: 4%;
    text-shadow: 1px 1px 2px #333;
    font-size: 1.5em;
		padding-top:7%;
}
#info_music h1{
	color:white;
	margin:0;
	font-family:Helvetica;
}
a aside{
color:white;
}
#Music img{
	width:47%;
}
	#form
	{
	float:left;
	width:40%;
	}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #3b7d9b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/****************** medium screen ****************/

@media screen and (max-width: 768px) {
	#wrap {
		width: 95%;
	}
	header {
		padding-bottom:85%;

	}
	.show-menu-btn, .hide-menu-btn{
		display: block;
	}
	.right {
		position:fixed;
		width:100%;
		height:100vh;
		background: #333;
		right:100%;
		top: 0;
		text-align: center;
		padding: 80px 0 ;
		line-height: normal;
	}
	.right a{
		display:block;
		padding:20px;
	}
	.hide-menu-btn{
		position:absolute;
		top: 40px;
		right: 40px;
	}
	#chk:checked ~ .right{
		right: 0;
	}
	/*
	nav{
	text-align:none;
	}
	nav a {
		font-size: 110%;
		padding-right:0;
	}*/

	.Content
	{
	width:100%;
	color:white;
	height:auto;
	margin-top:17%;
	margin-left:0;
	text-align: center;
	font-size: 0.9em;
	}

	section{
	width: 94%;
	}
	aside {
	width: 94%;
	}
	section img {
		float: none;
		margin-right: 0;
	}
	footer{
	background-color:#CE5F3A;
	}
	footer a{
	font: 120% impact, arial, sans-serif;
	}
	footer aside h1{
	color:white;
	}
	footer aside a{
	    margin-left: 10%;
			margin-right: 10%;
	}
		#Music aside {
	float: left;
	width: 100%;
	margin: 1%;
	padding: 1%;
	border: none;
	text-align:left;
	}
#video_box aside {
		float: left;
	width: 100%;
	margin: 1%;
	padding: 1%;
	border: none;
	text-align:left;
}
	iframe{
	width:100%;
	height:100%;
	}
	video_box{
		height:360px;
	}
}

/*********************** small screen ****************/

@media screen and (max-width: 480px) {
	#wrap {
		width: 99%;
	}
	body{
		margin:0;
	}
	h1{
	font-size:150%;
	}
	header h1,h2{
	font-size:100%;
	}
	aside h1,h2{
	font-size:100%;
	}
	section h1,h2{
	font-size:100%;
	}
	nav{
	text-align:none;
	}
	header{
	/* Commet -Check the headers postion value. Its off the screen because its seems to be too low*/
	padding-top:80%;
	background-position:80% 0 0 0;
	}
	.Content
	{
	width:100%;
	color:white;
	height:auto;
	margin-top:0;
	margin-left:0;
	}
	.Content h1 {
	color:white;
	}
	nav ul.left {
	float:none;
	margin-left:0;
	text-align:center;
	margin-bottom:0;
}
#listitem {
	height:150px;
	background-size: cover;
}
#listitem h1{
	font-size:1.25em;
}
#listitem i{
	visibility: hidden;
}
#listitem p {
	visibility: hidden;
	margin:0;
	padding:0;
	position:absolute;
	z-index:-100;
}

#info_music {
	padding-top:0;
	padding-top:120px;
	height:100px;
}
	nav ul.right {
	margin-top:0;
	float:none;
	text-align:center;
	width:100%;
}
	nav ul{
	padding:0;
	}
	nav li {
		display: block;
		padding-bottom: 4%;
	}

	nav a {
		font-size: 140%;
		padding-right:0;
	}

	section {
		float: none;
		width: 94%;
	}
	aside {
		float: none;
		width: 94%;
	}

	section img {
		display: none;
	}
	footer {
	text-align:center;
	background-color:#CE5F3A;
	}
	footer li {
		display: block;
		padding-bottom: 4%;
	}

	footer a {
		font-size: 80%;
	}
	footer aside{
	text-align:center;
	}
	footer aside a{
	font-size:1em;
    line-height: 1em;
    transition: 1s all;
    display: inline-block;
    width: 90%;
		margin-left: 0;
		margin-right: 0;
		padding-top:30px;
	}
	footer ul{
	padding:0;
	}
	i{
	width:100%;
	}
	#Work aside {
	overflow:auto;
	float: left;
	width: 94%;
	margin: 1%;
	padding: 1%;
	border: none;
	text-align:center;
}
	#Music aside {
	float: left;
	width: 94%;
	margin: 1%;
	padding: 1%;
	border: none;
	text-align:left;
}
	iframe{
	width:100%;
	height:auto;
	}
	#miro_2{
	background-size:cover;
	}
	#Music img{
	width:100%;
}
	#form{
	width:94%;
	}
	video_box{
		height:160px;
	}
	header h1 {
	font-size:1em !important;
	}
}
